.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: auto;
	background-color: #4096ff;
}

.content {
	padding: 20px;
}

.imgWrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
